In [1]:
import string
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("train.csv")
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [3]:
def text_cleaner(text):
    text = text.lower() # convert to lowercase
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text) # remove punctuation and special characters
    text = re.sub(r'\s+', ' ', text) # remove extra whitespace
    text = re.sub(r'https?://\S+', '', text) # remove URLs
    text = re.sub(r"#", "", text)
    return text

In [4]:
df['text'] = df['text'].apply(text_cleaner)

In [5]:
df.head(5)

,id,keyword,location,text,target
0,1,NaN,NaN,our deeds are the reason of this earthquake ma...,1
1,4,NaN,NaN,forest fire near la ronge sask canada,1
2,5,NaN,NaN,all residents asked to shelter in place are be...,1
3,6,NaN,NaN,13000 people receive wildfires evacuation orde...,1
4,7,NaN,NaN,just got sent this photo from ruby alaska as s...,1

In [6]:
del df['keyword']
del df['location']

In [7]:
x = df['text']
y = df['target']

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=4)

In [9]:
from sklearn import feature_extraction

In [10]:
vec = feature_extraction.text.TfidfVectorizer(ngram_range=(1,2),analyzer='char')

In [11]:
from sklearn import pipeline
from sklearn import linear_model
from sklearn.svm import SVC
from sklearn import svm

In [12]:
model_pipe = pipeline.Pipeline([('vec',vec),('clf',svm.SVC())])

In [13]:
model_pipe.fit(x_train,y_train)

Pipeline(steps=[('vec', TfidfVectorizer(analyzer='char', ngram_range=(1, 2))),
                ('clf', SVC())])

In [14]:
predict_val = model_pipe.predict(x_test)

In [15]:
from sklearn import metrics
metrics.accuracy_score(y_test,predict_val)*100

74.85226526592253

In [16]:
metrics.confusion_matrix(y_test,predict_val)

array([[739, 140],
       [243, 401]], dtype=int64)

In [17]:
model_pipe.predict(['whats up man'])

array([0], dtype=int64)

In [18]:
import pickle

In [19]:
new_file = open('model.pkl','wb')
pickle.dump(model_pipe,new_file)
new_file.close()

In [20]:
import os

In [21]:
text_cleaner("What a wonderful day!
")

'theres an emergency evacuation happening now in the building across the street'